@media (max-width: 925px) {
    // Mobile menu
    .hamburger {
        display: block !important;
        margin-right: 2rem;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 8rem;
        gap: 2rem;
        flex-direction: column;
        background-color: white;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        transition: .3s ease-in;  
        
        a {
            color: var(--vdgBlue);
            font-weight: 700;
        }
        button {
            background-color:var(--yellow);
        }
    }
    .nav-menu.active {
        left: 5%;
    }
    
    
    // Section styling
    
    section:nth-of-type(1) {
        flex-direction: column-reverse;

        .left {
            padding: 3rem 1.5rem;

            h2{
                text-align: center;
                font-size: clamp(1.5rem, 100%, 2.5rem);
            }

            p {
                padding: 2rem 1rem;
                text-align: center;
            }
        }
    }
    section:nth-of-type(2) {
        flex-direction: column;

        .right {
            padding: 3rem 1.5rem;

            h2{
                text-align: center;
                font-size: clamp(1.5rem, 100%, 2.5rem);
            }

            p {
                padding: 2rem 1rem;
                text-align: center;
            }
        }
    }
    section:nth-of-type(3) {
        flex-direction: column;

        .left, .right {
            padding: 3rem 1.5rem;

            h2{
                text-align: center;
                font-size: clamp(1.5rem, 100%, 2.5rem);
            }

            p {
                padding: 2rem 1rem;
                text-align: center;
            }
        }
    }
    section:nth-of-type(4) {
        padding: 1rem !important;
        .card-wrapper {
            flex-direction: column;
            padding: 0;
        }
    }
    section:nth-of-type(5) {
        grid-template-columns: 1fr 1fr !important;

        img {
            max-width: 50%;
        }
            }
        
    
}
