@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500;700&display=swap");
@media (max-width: 925px) {
  .hamburger {
    display: block !important;
    margin-right: 2rem;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 8rem;
    gap: 2rem;
    flex-direction: column;
    background-color: white;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    transition: 0.3s ease-in;
  }
  .nav-menu a {
    color: var(--vdgBlue);
    font-weight: 700;
  }
  .nav-menu button {
    background-color: var(--yellow);
  }
  .nav-menu.active {
    left: 5%;
  }
  section:nth-of-type(1) {
    flex-direction: column-reverse;
  }
  section:nth-of-type(1) .left {
    padding: 3rem 1.5rem;
  }
  section:nth-of-type(1) .left h2 {
    text-align: center;
    font-size: clamp(1.5rem, 100%, 2.5rem);
  }
  section:nth-of-type(1) .left p {
    padding: 2rem 1rem;
    text-align: center;
  }
  section:nth-of-type(2) {
    flex-direction: column;
  }
  section:nth-of-type(2) .right {
    padding: 3rem 1.5rem;
  }
  section:nth-of-type(2) .right h2 {
    text-align: center;
    font-size: clamp(1.5rem, 100%, 2.5rem);
  }
  section:nth-of-type(2) .right p {
    padding: 2rem 1rem;
    text-align: center;
  }
  section:nth-of-type(3) {
    flex-direction: column;
  }
  section:nth-of-type(3) .left, section:nth-of-type(3) .right {
    padding: 3rem 1.5rem;
  }
  section:nth-of-type(3) .left h2, section:nth-of-type(3) .right h2 {
    text-align: center;
    font-size: clamp(1.5rem, 100%, 2.5rem);
  }
  section:nth-of-type(3) .left p, section:nth-of-type(3) .right p {
    padding: 2rem 1rem;
    text-align: center;
  }
  section:nth-of-type(4) {
    padding: 1rem !important;
  }
  section:nth-of-type(4) .card-wrapper {
    flex-direction: column;
    padding: 0;
  }
  section:nth-of-type(5) {
    grid-template-columns: 1fr 1fr !important;
  }
  section:nth-of-type(5) img {
    max-width: 50%;
  }
}
:root {
  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --ddCyan: hsl(167, 40%, 24%);
  --darkBlue: hsl(198, 62%, 26%);
  --dmCyan: hsl(168, 34%, 41%);
  --cyan: hsl(169, 39%, 62%);
  --vddBlue: hsl(212, 27%, 19%);
  --vdgBlue: hsl(213, 9%, 39%);
  --dgBlue: hsl(232, 10%, 55%);
  --gBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --fontPrimary: "IBM Plex Serif", sans-serif;
  --fontSecondary: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
}

.max-width {
  max-width: 1440px;
  margin: 0 auto;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("/images/desktop/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  padding: 3rem 3rem;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 3rem 3rem;
  gap: 2rem;
  align-items: center;
}

button {
  background-color: var(--white);
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: none;
  color: black;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.459);
  padding: 1rem 3rem;
  border-radius: 2rem;
  cursor: pointer;
  color: white;
}

.nav-menu {
  margin-left: auto;
}

nav ul a {
  color: var(--white);
  text-decoration: none;
}

nav ul li a button {
  font-family: var(--fontPrimary);
  font-size: 1rem;
  font-weight: 700;
}

header h1 {
  font-family: var(--fontPrimary);
  text-align: center;
  color: var(--white);
  font-size: clamp(2rem, 9vmin, 6rem);
  padding-top: 5rem;
  letter-spacing: 1rem;
}

header img {
  display: block;
  margin: 0 auto;
  padding-top: 3rem;
}

.hidden {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger .bar {
  display: block;
  width: 30px;
  height: 0.3rem;
  background-color: white;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

section {
  display: flex;
  background-color: var(--white);
}
section .left,
section .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .left h2,
section .right h2 {
  font-family: var(--fontPrimary);
  font-weight: 700;
  font-size: 2.5rem;
}
section .left p,
section .right p {
  padding: 1rem 7rem;
}
section .left span,
section .right span {
  font-family: var(--fontPrimary);
  font-weight: 700;
  font-size: 1.2rem;
  border-bottom: 0.8rem solid rgb(248, 248, 171);
}
section .left span:hover,
section .right span:hover {
  border-bottom: 0.8rem solid yellow;
}
section .left span:nth-of-type(2),
section .right span:nth-of-type(2) {
  border-bottom: 0.8rem solid rgb(250, 129, 129);
}
section .left img,
section .right img {
  width: 100%;
}

section:nth-of-type(2) .right span {
  border-bottom: 0.8rem solid rgb(250, 129, 129);
}
section:nth-of-type(2) .right span:hover {
  border-bottom: 0.8rem solid rgb(255, 57, 57);
}

section:nth-of-type(3) .left {
  background-image: url("/images/desktop/image-graphic-design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
section:nth-of-type(3) .left h2 {
  padding: 25rem 10rem 1rem 10rem;
  font-size: 1.7rem;
}
section:nth-of-type(3) .left p {
  padding-bottom: 4rem;
}
section:nth-of-type(3) .right {
  background-image: url("/images/desktop/image-photography.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
section:nth-of-type(3) .right h2 {
  padding: 25rem 10rem 1rem 10rem;
  font-size: 1.7rem;
}
section:nth-of-type(3) .right p {
  padding-bottom: 4rem;
}

section:nth-of-type(4) {
  display: block;
  min-height: 70vh;
  padding: 0 8rem;
}
section:nth-of-type(4) h2 {
  text-align: center;
  width: 100%;
  font-family: var(--fontPrimary);
  font-size: 1rem;
  padding-top: 7rem;
  color: var(--gBlue);
  letter-spacing: 0.5rem;
}
section:nth-of-type(4) .card-wrapper {
  display: flex;
  gap: 2rem;
  margin: 7rem 5rem;
}
section:nth-of-type(4) .card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
section:nth-of-type(4) .card img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-bottom: 2rem;
}
section:nth-of-type(4) .card p {
  margin-bottom: 2rem;
  color: var(--darkBlue);
}
section:nth-of-type(4) .card span:nth-of-type(1) {
  font-family: var(--fontPrimary);
  font-weight: 700;
  padding-bottom: 0.5rem;
}
section:nth-of-type(4) .card span:nth-of-type(2) {
  color: var(--gBlue);
}

section:nth-of-type(5) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
section:nth-of-type(5) img {
  max-width: 100%;
}

footer {
  background-color: var(--cyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .logo {
  padding-bottom: 0;
  height: 3rem;
}
footer .nav-footer ul {
  display: flex;
  gap: 4rem;
  padding: 3rem 0;
}
footer .nav-footer ul li a {
  color: var(--ddCyan);
  font-weight: 700;
}
footer .nav-footer ul li a:hover {
  color: var(--white);
}
footer .social {
  display: flex;
  gap: 2rem;
  padding-bottom: 4rem;
}
footer .attribution {
  font-size: 15px;
  text-align: center;
}
footer .attribution a {
  color: var(--ddCyan);
}/*# sourceMappingURL=style.css.map */